.vscode/**
images/**
!images/icon.png
.github/**
node_modules/**
test/**
PLAN*.md
.vscodeignore.local
.gitignore
.vscodeignore
PUBLISHING.md
CONTRIBUTING.md
jsconfig.json
**/*.vsix
**/.DS_Store
package-lock.json
release-notes.md
